body {
    font-family: sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.videoWrapper {
    width: 100%;
    height: 100vh;
    background: #000;
    overflow: hidden;
}

.remoteVideo {
    width: 100%;
    padding-top: 140%;
    border: 5px solid #FFF;
    background: #000;
    border-radius: 5px;
    position: relative;
}

.remoteVideo video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.localVideo {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
}

.videoCol {
    width: 33%;
    position: absolute;
    height: 90%;
    right: 15px;
    top: 15px;
    z-index: 1000;
}

.controls {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 3000;
    padding: 25px 0;
}

.controls .action img {
    width: 100%;
}

.controls .action {
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 100%;
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
    -webkit-box-shadow: 0 0 10px 0 rgba(000, 000, 000, 0.2);
    box-shadow: 0 0 10px 0 rgba(000, 000, 000, 0.2);
}

.controls .action.disconnect {
    background: #c42020;
}

@media screen and (orientation:landscape) {
    .videoCol {
        width: 20%;
        position: absolute;
        height: 80%;
        right: 25px;
        top: 20px;
        z-index: 1000;
    }
}

